@model LoadDonorData.Models.Sponsorship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonorRecipient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipient.EnglishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient.EnglishName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
