@model IEnumerable<LoadDonorData.Models.Sponsorship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Sponsor a child!", "Sponsor")
</p>
<table class="table">
    <tr>
        <th>
            Donor
        </th>
        <th>
            Recipient
        </th>
        <th>
            Amount
        </th>
        <th>
            Frequency
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
<th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Donor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipient.EnglishName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
